<!-- start slider section -->
<section class="wow fadeIn example no-padding no-transition">
    <article class="content">
        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery"
            style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- start revolution slider 5.4.1 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <!-- slide 1: Where to Study -->
                    <li data-index="rs-3045" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                        data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="200" data-rotate="0"
                        data-thumb="" data-fstransition="fade" data-fsmasterspeed="100" data-fsslotamount="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header.jpg" alt="Ocean" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg">
                        <!-- layer nr. 4 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Where to Study</div>
                        <!-- layer nr. 5 -->
                        <a href="/neighborhood" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['130','130','110','110']"
                            data-fontsize="['12','14','14','14']" data-whitespace="nowrap" data-visibility="['on', 'on', 'on', 'on']"
                            data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on" data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Start Studying</a>
                    </li>

                    <!-- slide 2: Ktown  -->
                    <li data-index="rs-2" data-transition="fade" data-slotamount="3" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="500" data-thumb="" data-rotate="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header_ktown.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- Title -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="button" data-color="['#FFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center', 'center', 'center', 'center']" data-paddingtop="[10,10,10,10]" data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]" data-basealign="slide" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Koreantown</div>
                        <!-- Button -->
                        <a href="portfolio-full-width-grid-overlay.html" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','130','110','110']" data-fontsize="['12','14','14','14']" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Go</a>
                    </li>

                    <!-- slide 3: Beachside  -->
                    <li data-index="rs-3" data-transition="fade" data-slotamount="3" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="500" data-thumb="" data-rotate="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header_beachside.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- Title -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="button" data-color="['#FFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center', 'center', 'center', 'center']" data-paddingtop="[10,10,10,10]" data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]" data-basealign="slide" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Beachside</div>
                        <!-- Button -->
                        <a href="portfolio-full-width-grid-overlay.html" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','130','110','110']" data-fontsize="['12','14','14','14']" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Go</a>
                    </li>

                    <!-- slide 4: Westside  -->
                    <li data-index="rs-4" data-transition="fade" data-slotamount="4" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="500" data-thumb="" data-rotate="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header_westside.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- Title -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="button" data-color="['#FFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center', 'center', 'center', 'center']" data-paddingtop="[10,10,10,10]" data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]" data-basealign="slide" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Westside</div>
                        <!-- Button -->
                        <a href="portfolio-full-width-grid-overlay.html" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','130','110','110']" data-fontsize="['12','14','14','14']" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Go</a>
                    </li>

                    <!-- slide 5: Mid-City  -->
                    <li data-index="rs-5" data-transition="fade" data-slotamount="5" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="500" data-thumb="" data-rotate="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header_midcity.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- Title -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="button" data-color="['#FFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center', 'center', 'center', 'center']" data-paddingtop="[10,10,10,10]" data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]" data-basealign="slide" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">Mid-City</div>
                        <!-- Button -->
                        <a href="portfolio-full-width-grid-overlay.html" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','130','110','110']" data-fontsize="['12','14','14','14']" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Go</a>
                    </li>

                    <!-- slide 6: Eastside  -->
                    <li data-index="rs-6" data-transition="fade" data-slotamount="6" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                        data-easeout="default" data-masterspeed="500" data-thumb="" data-rotate="0" data-saveperformance="off"
                        data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="/theme/images_site/home_header_eastside.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- Title -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme " data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','60','50']"
                            data-lineheight="['75','75','60','60']" data-width="none" data-height="none" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="button" data-color="['#FFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center', 'center', 'center', 'center']" data-paddingtop="[10,10,10,10]" data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]" data-basealign="slide" style="z-index: 8; white-space: nowrap; font-family:'Montserrat', sans-serif !important; font-weight: 600; letter-spacing: -1px;">East-Side</div>
                        <!-- Button -->
                        <a href="portfolio-full-width-grid-overlay.html" class="tp-caption btn btn-transparent-white btn-medium border-radius-4 z-index-5"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['130','130','110','110']" data-fontsize="['12','14','14','14']" data-whitespace="nowrap"
                            data-visibility="['on', 'on', 'on', 'on']" data-type="text" data-color="['#FFFFFF']" data-responsive_offset="on"
                            data-responsive="on" data-frames='[{"from":"y:150px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['inherit', 'inherit', 'right', 'center']" data-paddingtop="[6,6,6,6]" data-paddingright="[26,26,26,26]"
                            data-paddingbottom="[6,6,6,6]" data-paddingleft="[26,26,26,26]" data-basealign="slide">Go</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end revolution slider -->
    </article>
</section>

<!-- start counter section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- start counter item: neighborhoods -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left sm-margin-ten-bottom xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight">
                <div class="feature-box-5 position-relative">
                    <i class="icon-map-pin text-medium-gray icon-extra-medium top-6"></i>
                    <div class="feature-content">
                        <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom timer xs-margin-5px-bottom" data-speed="2000"
                            data-to="6">6</h6>
                        <span class="text-small text-uppercase position-relative top-minus4">Neighborhoods</span>
                    </div>
                </div>
            </div>
            <!-- end counter item -->

            <!-- start counter item: study spots -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight"
                data-wow-delay="0.4s">
                <div class="feature-box-5 position-relative">
                    <i class="icon-book-open text-medium-gray icon-extra-medium top-6"></i>
                    <div class="feature-content">
                        <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom timer xs-margin-5px-bottom" data-speed="2000"
                            data-to="60">60</h6>
                        <span class="text-small text-uppercase position-relative top-minus4">Best Study Spots</span>
                    </div>
                </div>
            </div>
            <!-- end counter item -->

            <!-- start counter item: reviews -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left sm-margin-ten-bottom xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight"
                data-wow-delay="0.2s">
                <div class="feature-box-5 position-relative">
                    <i class="icon-pencil text-medium-gray icon-extra-medium top-6"></i>
                    <div class="feature-content">
                        <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom timer xs-margin-5px-bottom" data-speed="2000"
                            data-to="23">23</h6>
                        <span class="text-small text-uppercase position-relative top-minus4">Cafe Reviews</span>
                    </div>
                </div>
            </div>

            <!-- start counter item: camera -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-padding-twelve-left sm-margin-ten-bottom xs-margin-50px-bottom xs-padding-15px-left wow fadeInRight"
                data-wow-delay="0.2s">
                <div class="feature-box-5 position-relative">
                    <i class="icon-camera text-medium-gray icon-extra-medium top-6"></i>
                    <div class="feature-content">
                        <h6 class="display-block text-extra-dark-gray font-weight-600 alt-font no-margin-bottom timer xs-margin-5px-bottom" data-speed="2000"
                            data-to="120">120</h6>
                        <span class="text-small text-uppercase position-relative top-minus4">Photo Reviews</span>
                    </div>
                </div>
            </div>
            <!-- end counter item -->
        </div>
    </div>
</section>
<!-- end counters section -->

<!-- start latest blog section  -->
<section class="border-top border-color-extra-light-gray wow fadeIn">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h5 class="text-uppercase alt-font text-extra-dark-gray
                margin-20px-bottom font-weight-700 sm-width-100 xs-width-100 font-blue">About</h5>
                <span class="separator-line-horrizontal-medium-light2 bg-extra-medium-blue display-table margin-auto width-100px"></span>
            </div>
        </div>
        <div class="row margin-60px-top sm-margin-70px-top xs-margin-50px-top sm-col-2-nth">
            <div class="row">
                <div class="col-lg-8 col-md-8 center-col margin-eight-bottom text-center last-paragraph-no-margin">
                    <h5 class="alt-font text-extra-dark-gray font-weight-600">Find the most study-friendly spots in
                        <br>Los Angeles               
                    </h5>
                    <p class="width-80 center-col display-inline-block xs-width-100">Where to Study was inspired by @bxttychxn in her days as a college student and avid coffee shop hopper & enthusiast. Click to explore the cafes in different neighborhoods near you to plug into productivity for the day. Explore the coffee shop blog to hear what I have to say about my cafe experiences below!</p>
                </div>
                <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin"> 
                        <!-- <a class="btn btn-very-small btn-transparent-dark-gray btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="#">Go</a> -->      
                        <a href="/neighborhood">   
                    <i class="icon-magnifying-glass text-medium-gray icon-extra-medium top-6">
                      
                    </i>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end latest blog section -->

<!-- start latest blog section  -->
<section class="border-top border-color-extra-light-gray wow fadeIn">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="alt-font margin-5px-bottom text-uppercase text-small text-medium-gray">Discover new Coffee Shops</p>
                <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 sm-width-100 xs-width-100">On The Blog</h5>
                <span class="separator-line-horrizontal-medium-light2 bg-extra-medium-blue display-table margin-auto width-100px"></span>
            </div>
        </div>
        <div class="row margin-60px-top sm-margin-70px-top xs-margin-50px-top sm-col-2-nth">
            <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                <!-- start latest blog item -->
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-01.html">
                            <img src="/theme/images_site/home_header.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">25 April 2017 | by
                            <a href="blog-classic.html" class="text-link-dark-gray">Jay Benjamin</a>
                        </span>
                        <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 sm-width-100 display-block">I like the body. I like to design everything to do with the body.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
                <!-- end latest blog item -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin"
                data-wow-delay="0.2s">
                <!-- start latest blog item -->
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-02.html">
                            <img src="/theme/images_site/home_header.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">20 April 2017 | by
                            <a href="blog-classic.html" class="text-link-dark-gray">Herman Miller</a>
                        </span>
                        <a href="blog-post-layout-02.html" class="post-title text-medium text-extra-dark-gray width-90 sm-width-100 display-block">Styles come and go. Design is a language, not a style.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
                <!-- end latest blog item -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                <!-- start latest blog item -->
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-03.html">
                            <img src="/theme/images_site/home_header.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">15 march 2017 | by
                            <a href="blog-classic.html" class="text-link-dark-gray">Hugh Macleod</a>
                        </span>
                        <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 sm-width-100 display-block">Recognizing the need is the primary condition for design.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
                <!-- end latest blog item -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
                <!-- start latest blog item -->
                <div class="blog-post blog-post-style1 xs-text-center">
                    <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                        <a href="blog-post-layout-04.html">
                            <img src="/theme/images_site/home_header.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-details">
                        <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">10 march 2017 | by
                            <a href="blog-classic.html" class="text-link-dark-gray">Jay Benjamin</a>
                        </span>
                        <a href="blog-post-layout-04.html" class="post-title text-medium text-extra-dark-gray width-90 sm-width-100 display-block">Get in over your head as often and as joyfully as possible.</a>
                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                        <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                    </div>
                </div>
                <!-- end latest blog item -->
            </div>
        </div>
    </div>
</section>
<!-- end latest blog section -->

<!-- javascript libraries -->
<script type="text/javascript" src="/theme/js/jquery.js"></script>
<script type="text/javascript" src="/theme/js/modernizr.js"></script>
<script type="text/javascript" src="/theme/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/theme/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/theme/js/skrollr.min.js"></script>
<script type="text/javascript" src="/theme/js/smooth-scroll.js"></script>
<script type="text/javascript" src="/theme/js/jquery.appear.js"></script>
<!-- menu navigation -->
<script type="text/javascript" src="/theme/js/bootsnav.js"></script>
<script type="text/javascript" src="/theme/js/jquery.nav.js"></script>
<!-- animation -->
<script type="text/javascript" src="/theme/js/wow.min.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="/theme/js/page-scroll.js"></script>
<!-- swiper carousel -->
<script type="text/javascript" src="/theme/js/swiper.min.js"></script>
<!-- counter -->
<script type="text/javascript" src="/theme/js/jquery.count-to.js"></script>
<!-- parallax -->
<script type="text/javascript" src="/theme/js/jquery.stellar.js"></script>
<!-- magnific popup -->
<script type="text/javascript" src="/theme/js/jquery.magnific-popup.min.js"></script>
<!-- portfolio with shorting tab -->
<script type="text/javascript" src="/theme/js/isotope.pkgd.min.js"></script>
<!-- images loaded -->
<script type="text/javascript" src="/theme/js/imagesloaded.pkgd.min.js"></script>
<!-- pull menu -->
<script type="text/javascript" src="/theme/js/classie.js"></script>
<script type="text/javascript" src="/theme/js/hamburger-menu.js"></script>
<!-- counter  -->
<script type="text/javascript" src="/theme/js/counter.js"></script>
<!-- fit video  -->
<script type="text/javascript" src="/theme/js/jquery.fitvids.js"></script>
<!-- equalize -->
<script type="text/javascript" src="/theme/js/equalize.min.js"></script>
<!-- skill bars  -->
<script type="text/javascript" src="/theme/js/skill.bars.jquery.js"></script>
<!-- justified gallery  -->
<script type="text/javascript" src="/theme/js/justified-gallery.min.js"></script>
<!--pie chart-->
<script type="text/javascript" src="/theme/js/jquery.easypiechart.min.js"></script>
<!-- instagram -->
<script type="text/javascript" src="/theme/js/instafeed.min.js"></script>
<!-- retina -->
<script type="text/javascript" src="/theme/js/retina.min.js"></script>
<!-- revolution -->
<script type="text/javascript" src="/theme/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/theme/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- setting -->
<script type="text/javascript" src="/theme/js/main.js"></script>