<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
        <div class="container-fluid nav-header-container">
            <div class="row">
                <!-- start logo -->
                <div class="col-md-2 col-xs-5">
                    <a href="/" title="Logo" class="logo">               
                        <img src="/theme/images_site/logo/test_white2.png" data-at2x="/theme/images_site/logo/test_white2.png" alt="Pofo" class="logo-light default">
                    </a>
                </div>
                <!-- start nav -->
                <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                            <!-- start menu item -->
                            <li>
                                <a href="/">Welcome</a>
                            </li>
                            <!-- start menu item -->
                            <li class="dropdown simple-dropdown">
                                <a href="/neighborhood" title=" Neighborhood">Neighborhood</a>
                                <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <!-- start sub menu -->
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown" ng-repeat="neighborhood in layoutCtrl.neighborhoods">
                                        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="site.list({neighborhood: neighborhood.name})" ui-sref-opts="{inherit: false}">{{neighborhood.name}}
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="area in neighborhood.areas">
                                                <a ui-sref="site.list({neighborhood: neighborhood.name, area: area.name})" ui-sref-opts="{inherit: false}">{{area.name}}</a>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- end sub menu -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- searchbar -->
                <div class="col-md-2 col-xs-5 width-auto">
                    <div class="header-searchbar">
                        <a href="#search-header" class="header-search-form text-white">
                            <i class="fa fa-search search-button"></i>
                        </a>
                        <!-- search input-->
                        <form id="search-header" method="post" action="search-result.html" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">
                                <button type="submit" class="fa fa-search close-search search-button"></button>
                                <input type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="header-social-icon xs-display-none">
                        <a href="https://www.instagram.com/coffee.convo" title="Instagram" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>

<!-- start ui-view -->
<div ui-view="content"></div>

<!-- start footer -->
<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
    <div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">
    </div>
    <div class="footer-widget-area padding-five-top padding-30px-bottom xs-padding-30px-top">
        <div class="container">
            <div class="row">
                <!-- start about -->
                <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">About Agency</div>
                    <p class="text-small width-95 xs-width-100 no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                        text of the industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the and typesetting industry. </p>
                </div>
                <!-- start blog post -->
                <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 xs-text-center">Latest Blog Post</div>
                    <ul class="latest-post position-relative top-3">
                        <li class="border-bottom border-color-medium-dark-gray">
                            <figure>
                                <a href="blog-post-layout-01.html">
                                    <img src="/theme/images_site/home_header.jpg" alt="">
                                </a>
                            </figure>
                            <div class="text-small">
                                <a href="blog-post-layout-01.html">Design is not just what looks...</a>
                                <span class="clearfix"></span>20 April 2017 | by
                                <a href="blog-grid.html">Herman Miller</a>
                            </div>
                        </li>
                        <li class="border-bottom border-color-medium-dark-gray">
                            <figure>
                                <a href="blog-post-layout-02.html">
                                    <img src="/theme/images_site/home_header.jpg" alt="">
                                </a>
                            </figure>
                            <div class="text-small">
                                <a href="blog-post-layout-02.html">A lot of care, effort & passion...</a>
                                <span class="clearfix"></span>20 April 2017 | by
                                <a href="blog-grid.html">Herman Miller</a>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <a href="blog-post-layout-03.html">
                                    <img src="/theme/images_site/home_header.jpg" alt="">
                                </a>
                            </figure>
                            <div class="text-small">
                                <a href="blog-post-layout-03.html">I love making the stuff, that's...</a>
                                <span class="clearfix"></span>20 April 2017 | by
                                <a href="blog-grid.html">Herman Miller</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- start newsletter -->
                <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe Newsletter</div>
                    <p class="text-small width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry.</p>
                    <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                        <div class="position-relative newsletter width-95">
                            <div id="success-subscribe-newsletter" class="no-margin-lr"></div>
                            <input type="text" id="email" name="email" class="bg-transparent text-small no-margin border-color-medium-dark-gray" placeholder="Enter your email...">
                            <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray">
                                <i class="fa fa-caret-right no-margin-left"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- start instagram -->
                <!-- <div class="col-md-3 col-sm-6 col-xs-12 widget xs-margin-5px-bottom xs-text-center">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Follow us Instagram</div>
                        <div class="instagram-follow-api">
                            <ul id="instaFeed-footer"></ul>
                        </div>
                    </div> -->
 
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
            <div class="row">
                <!-- start copyright -->
                <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">POFO - Portfolio Concept Theme</div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2017 POFO is Proudly Powered by
                    <a href="http://www.themezaa.com" target="_blank" title="ThemeZaa">ThemeZaa</a>
                </div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);">
    <i class="ti-arrow-up"></i>
</a>
<!-- end scroll to top  -->