/* List */
.aside-title_green {position: relative; overflow:hidden}
.aside-title_green:after {content: ""; display: inline-block; width: 100%; background: #92d7d0; height: 1px; top: 50%; position: absolute;}